
<h2>Add New Item</h2>   

<div id="boxi">
    
Label: <input type="text" [(ngModel)]="item.label" id="name" #label="ngModel" required>
Value: <input  id="nm" type="number" [(ngModel)]="item.value" min="{{ backend.getMinimunValue() }}" #value="ngModel">

<button class="onGen" type="submit" name="generoi" (click)="onSubmitGenerate()"><i class="fa fa-gear" aria-hidden="true"></i>Generoi</button><br />

Length: <input  id="fname" type="number"  [(ngModel)]="item.length" min="0" #length="ngModel">
Height: <input type="number" id="nm" [(ngModel)]="item.height" min="0" #height="ngModel">

<button class="onSubmit" type="submit" (click)="onSubmit()" [disabled]="value.invalid || label.invalid || length.invalid || height.invalid">Submit</button>
<button class="backbutton" type="submit" (click)="switchPage()">Back</button>

<div *ngIf="label.invalid && (label.dirty || label.touched)">
<div *ngIf="label.errors?.['required']">
<br />Name is required.

</div>

</div>
</div>
